<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <link rel="stylesheet" href="/media/Assets/Style/estiloGeneral.css" />
      
      <!-- BARRA DE NAVEGACION -->		
      <link rel="stylesheet" href="/media/Assets/Style/estiloMenu.css">
	<script src="/media/NavBar/jquery.min.js" type="text/javascript">
	</script>
	<script src="/media/NavBar/jquery.easing.1.3.js" type="text/javascript">
	</script>
	<script src="/media/NavBar/animated-menu.js" type="text/javascript">
	</script>
	
	<title>Reserva Laboratorio Docente de Aulas Computarizadas</title>

      </head>

      <body>
	<!-- INICIO CONTENEDOR -->	
	<div id="container">
	  <!-- INICIO BANNER -->	
	  <div id="Banner">
            <div class="Colorcito">
            </div>
            
            <div id="logo">
              <h1 style="color:#2F9AB9; padding:20px 0 0 10px">Reserva Laboratorio Docente de Aulas Computarizadas</h1>
              <p style=" margin-top: -60px; padding: 0 0 0 10px">Frefretion y mas frefretion</p>
            </div>
            
            <div class="Colorcito">
            </div>
	  </div>
	  <!-- FINAL BANNER -->	

	  <!-- INICIO WRAP (NO EL DE SUBWAY) -->
	  <div id="wrap">
            <div class="sidebar">
            </div>
    	    <!-- INICIO CONTENEDOR DE COSAS -->
            <div class="content">
              
              <nav style="float:none">
		<ul>
		  <li class="yellow" style="overflow: hidden; height: 50px; display: block; ">
		    <p><a href="/index">Inicio</a></p>
		    <p class="subtext">Página de inicio del super sistema.</p>
		  </li>
		  <li class="orange" style="overflow: hidden; height: 50px; display: block; ">
		    <p><a href="/agenda">Agenda</a></p>
		    <p class="subtext">Actividades programadas.</p>
		  </li>
		  <li class="red" style="overflow: hidden; height: 50px; display: block; ">
		    <p><a href="/estados">Estados</a></p>
		    <p class="subtext">Muetra el estado de las maquinas.</p>
		  </li>
		  <li class="blue" style="overflow: hidden; height: 50px; display: block; ">
		    <p><a href="/nosotros">Nosotros</a></p>
		    <p class="subtext">¿Quiénes somos en el MAC?</p>
		  </li>
		  <li class="green" style="overflow: hidden; height: 50px; display: block; ">
		    <p><a href="/login">Login</a></p>
		    <p class="subtext">Iniciar Sesión</p>
		  </li>
		</ul>
              </nav>
              
	      <div id="marco" style="text-align:center; background-color:#000; padding: 100px 0 20px 0">    
		<img src="/media/Assets/Imagenes/ima1.png" width="615" height="356" />
              </div>
              
              
              <!-- INCIO DE LA PARTE MAS IMPORTANTE, EN EL DIV COSAS VAN LAS COSAS QUE CAMBIEN -->
              <div id="cosas" style="padding: 5px 30px 30px 30px">
		{% block contenido %} {% endblock %}
              </div>
              <!-- FINAL DE COSAS -->
	      
            </div>
            <!-- FINAL DEL CONTENEDOR -->
	    
            <div class="sidebar">
            </div>
            
            <div class="Colorcito" style="float:left; width:100%; ">
            </div>
	    
            
	    <div class="footer">
              <p> Sartenejas, Baruta, Edo. Miranda - Universidad Simón Bolívar<br />
		MAC - 2012 </p>
	    </div>
	    
	  </div>	
	  <!-- FINAL WRAP -->
	</div>
	<!-- FINAL CONTENEDOR -->

      </body>
    </html>
