{% extends 'base.html' %}

{% block centro %}
<div id="cosas" style="padding: 80px 30px 30px 30px">
  <h1 style="text-align:center"> Iniciar sesion </h1>
  <center>
    <p> {{ mensaje }} </p> 

    {% if state = 'out' or state = '' %}
    <form action="/login/" method="post">
      {% csrf_token %}
      {% if next %}
      <input type="hidden" name="next" value="{{ next }}" />
      {% endif %}
      <table>
	<tr>
	  <td> <p> Usuario: </p></td>
	  <td>  <input style="float:right;" type="text" name="username" value="{{ username}}" align="left" /></td>
	</tr>
	<tr>
	  <td> <p> Clave: </p> </td>
	  <td> <input style="float:right" type="password" name="password" value="" alight="left"/> </td>
	</tr>
	<tr>
	  <td></td>
	  <td> <input class="window" id="textoboton" type="submit" value="Iniciar sesion" /></td>
	</tr>
      </table>
    </form>
    {% endif %}

    {% if state = 'in' %}
    <form action="/logout/" method="post">
      {% csrf_token %}
      <input class="windowRed" type="submit" value="Cerrar sesion" />
    </form>
    {% endif %}
  </center>
</div>
{% endblock %}

{% block contenido %}
<div id="cosas" style="padding: 30px 30px 30px 30px">
<a style="float:right" class="windowGreen" href="/registro"> Registrar responsable </a></h1>
<a style="float:center ; margin: 0px 0px 0px 75px" class="windowGreen" href="/registro"> Registrar asignatura </a></h1>
<a style="float:left" class="windowGreen" href="/registro"> Registrar preparador </a></h1>
</div>
{% endblock %}


{% if state = '' or state = 'out' %}
{% block log %} Logout {% endblock %}
{% endif %}
